{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8 mb-4">
        <div class="card">
            <div class="card-header bg-primary">
                <h5 class="white-text mb-0 py-1"><strong>Edit Post</strong></h5>
            </div> 
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    <div class="mt-2">
                        {% render_field form.picture|add_error_class:"is-invalid" %}
                        {% for error in form.errors.picture %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="md-form md-outline mt-5">
                        {% render_field form.content|add_error_class:"is-invalid" class="md-textarea form-control" %}
                            <label for="{{ form.content.id_for_label }}">Post Content</label>
                        {% for error in form.errors.content %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mt-5 col-md-6">
                        {% render_field form.is_public|add_error_class:"is-invalid" class="mdb-select md-form colorful-select dropdown-primary" %}
                        <label class="mdb-main-label" for="{{ form.is_public.id_for_label }}">Post visibility</label>
                        {% for error in form.errors.is_public %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-outline-primary btn-md waves-effect"><strong>Update</strong></button>
                <a href="{% url 'index' %}" class="btn btn-danger btn-md"><strong>Cancel</strong></a>
            </div>
            </form>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="sticky-top" style="top:100px;">
            {% include 'posts/sideblock.html' %}
        </div>
    </div>
</div>
{% endblock content %}