{% if user.is_authenticated %}
<div class="card testimonial-card">
    <div class="card-up blue-gradient"></div>
    <div class="avatar mx-auto white">
        <img src="{{ user.profile_pic.url }}" class="rounded-circle" alt="avatar">
    </div>
    <div class="card-body">
        <h4 class="card-title user">{{ user.get_full_name }}</h4>
        <hr>
        <p>{{ user.bio }}</p>
        <a href="{%  url 'profile' username=user.username %}" class="text-danger"><strong>View Profile</strong></a>
    </div>
</div>
<div class="card mt-4">
    <div class="card-header bg-primary">
        <h5 class="white-text mb-0 py-1"><strong>You may also Know</strong></h5>
    </div>
    <div class="card-body">
        {% for user in users %}
            <a href="{% url 'profile' username=user.username %}">
                <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="{{ user.profile_pic.url }}" alt="" height="60" width="60">
                    <div class="media-body text-dark">
                        <p class="mt-2 mb-0"><strong>{{ user.get_full_name }}</strong></p>
                        <p class="mb-0 font-small text-muted">{{ user.connection.count }} Connection</p>
                    </div>
                </div>
            </a>
            <hr class="blue">
        {% endfor %}
    </div>
</div>
{% else %}
<div class="card">
    <div class="card-header bg-primary">
        <h5 class="white-text mb-0 py-1"><strong>All Users</strong></h5>
    </div>
    <div class="card-body">
        {% for user in users %}
            <a href="{% url 'profile' username=user.username %}">
                <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="{{ user.profile_pic.url }}" alt="" height="60" width="60">
                    <div class="media-body text-dark">
                        <p class="mt-2 mb-0"><strong>{{ user.get_full_name }}</strong></p>
                        <p class="mb-0 font-small text-muted">{{ user.connection.count }} Connection</p>
                    </div>
                </div>
            </a>
            <hr class="blue">
        {% endfor %}
    </div>
</div>
{% endif %}
